# Настройки автотестов. Переменные окружения имеют приоритет над .env.
API_BASE_URL=http://localhost:8001
API_TIMEOUT=100

# Тестовые данные для загрузки файлов.
TEST_DATA.IMAGE_PNG_FILE=./testdata/files/image.png

# Порт Docker-стенда должен совпадать с портом в API_BASE_URL.
API_PORT=8001
